Set


---
Set is a collection which is unordered or unindexed. 

In python you can create a set using the following command

In [1]:
data={"apple","orange","pineapple"}
data

{'apple', 'orange', 'pineapple'}

The items in the set can be accessed using for statement

In [2]:
for item in data:
  print(item)

orange
apple
pineapple

You can add items to set using the add method.

In [3]:
data.add("apple")
data.add("bannana")
data

{'apple', 'bannana', 'orange', 'pineapple'}

Here, You can see that only bannana is added to the set. Set only contains unique items.


Now lets see few set operations. For that we need to declare another varaiable

In [5]:
fruits={"apple","orange","bannana","watermelon"}

Union operation

In [6]:
result=fruits.union(data)
result

{'apple', 'bannana', 'orange', 'pineapple', 'watermelon'}

Intersection

In [7]:
result=fruits.intersection(data)
result

{'apple', 'bannana', 'orange'}

Difference

In [11]:
result=data-fruits
result

{'pineapple'}

In [12]:
result=fruits-data
result

{'watermelon'}